@page
@model AcuERP_App.Areas.Demo.Pages.SalesOrders.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SO_SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Approved" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Approved" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Approved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.ContactID" class="control-label"></label>
                <input asp-for="SO_SalesOrder.ContactID" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.ContactID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.CustomerID" class="control-label"></label>
                <input asp-for="SO_SalesOrder.CustomerID" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.CustomerOrder" class="control-label"></label>
                <input asp-for="SO_SalesOrder.CustomerOrder" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.CustomerOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Date" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Date" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Description" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Description" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Hold" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Hold" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Hold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.OrderedQty" class="control-label"></label>
                <input asp-for="SO_SalesOrder.OrderedQty" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.OrderedQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.OrderNbr" class="control-label"></label>
                <input asp-for="SO_SalesOrder.OrderNbr" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.OrderNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.OrderTotal" class="control-label"></label>
                <input asp-for="SO_SalesOrder.OrderTotal" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.OrderType" class="control-label"></label>
                <input asp-for="SO_SalesOrder.OrderType" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.OrderType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.ShipToAddress" class="control-label"></label>
                <input asp-for="SO_SalesOrder.ShipToAddress" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.ShipToAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Status" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Status" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SO_SalesOrder.Totals" class="control-label"></label>
                <input asp-for="SO_SalesOrder.Totals" class="form-control" />
                <span asp-validation-for="SO_SalesOrder.Totals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
